* {
  box-sizing: border-box;
}

@font-face {
  font-family: naskh;
  src: url('../fonts/naskh.ttf');
}

@font-face {
  font-family: sgkara;
  src: url('../fonts/sg_kara.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #14274a;
  color: white;
  height: 40vh;
  box-shadow: 0 0 10px #14274a;
}

/* menu */
.header > .menu {
  position: absolute;
  display: flex;
  justify-content: right;
  flex-direction: row-reverse;
  width: 80%;
  z-index: 1;
}

.header > .menu > .menu-item {
  list-style-type: none;
  margin: 10px;
  font-size: 1rem;
  font-family: sgkara, serif;
}

.header > .menu > .menu-item > a::before {
  content: '';
  height: 2px;
  width: 0;

  position: absolute;
  bottom: -7px;
  right: 0;
  left: 0;

  border-radius: 1000%;
  box-shadow: 0 -15px 15px #d2aa55;
  margin: 0 auto;
  background-color: #9d9d9d;
}

.header > .menu > .menu-item:not(.active) > a:hover::before {
  animation: expand 0.3s ease 0s 1 normal forwards;
}

@keyframes expand {
  0% {
    width: 0;
    bottom: -20px;
  }
  100% {
    width: 100%;
    bottom: -7px;
    background-color: #559d55;
  }
}

.header > .menu > .menu-item.active > a::before {
  width: 100%;
}

.header > .menu > .menu-item:not(.active) > a:hover {
  color: #d2aa55;
}

.header > .menu > .menu-item.active > a {
  color: #d2aa55;
}

.header > .menu > .menu-item > a {
  text-decoration: none;
  position: relative;

  color: white;
}

.header > .title {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: naskh, serif;
}
/* end of menu */
/* brand */
.menu > .brand {
  position: absolute;
  left: 20px;
  top: 0;
  background-color: #e0b973;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 130%;
  width: 100px;
}

.menu > .brand > .text {
  position: relative;
  display: flex;
  justify-content: center;
  line-height: 2rem;
  color: #14274a;
  font-size: 2rem;
  font-family: naskh, serif;
  height: 100%;
}

.menu > .brand > .text > span {
  position: absolute;
  bottom: 0px;
  font-size: 1.2rem;
  font-family: sakara, serif;
}
/* end of brand */
/* extra */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}
