@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-orange: #cf9965;
  --color-blue: #2a2d35;
  --color-blue-5: #4b5568;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #edeef0;
}

img,
video {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  background-color: ;
  color: #bcb4a8;
}

::-webkit-scrollbar-thumb {
  background-color: #454a53;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #60676c;
}

::-webkit-scrollbar-thumb:active {
  background-color: #4f5659;
}

::-webkit-scrollbar-corner {
  background-color: #16191b;
}

html {
  font-size: 0.625rem;
}

@media (min-width: 768px) {
  html {
    font-size: 0.6875rem;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 0.75rem;
  }
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  background-color: #1e2025;
  color: #edeef0;
}

/* projects */
main.home .home__projects {
  border-radius: 1rem;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 2rem;
}

/* header */
main.home .home__projects h2 {
  color: var(--color-orange);
  font-size: 1.5rem;
  font-weight: 300;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0 3rem;
}

main.home .home__projects h2::before,
main.home .home__projects h2::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0.2rem;
  border-radius: 1rem;
  background-color: var(--color-blue-5);
}

main.home .home__projects .projects__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 1rem;
}

main.home .category__card {
  position: relative;
}

main.home .category__card .card__image {
  cursor: pointer;
  height: 100%;
}

main.home .category__card .card__caption {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  line-height: 2;
  background-color: #121212dd;
  color: #e6c92a;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: capitalize;
  transition: all 0.3s;
}

@media (min-width: 576px) {
  main.home .home__projects .projects__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  main.home {
    padding: 2rem 3rem;
  }

  main.home .category__card:not(.modal--active):hover .card__caption {
    visibility: visible;
    opacity: 1;
  }
}

@media (min-width: 992px) {
  main.home {
    flex-direction: row;
    padding: 2rem 4rem;
  }

  main.home .home__projects .projects__cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}
