html {
  font-size: 0.625rem; // 16 * 0.625 > 1rem = 10px

  // @include breakpoint(xs) { font-size: 0.6875rem; } // 1rem = 11px
  @include breakpoint(sm) {
    font-size: 0.75rem;
  } // 1rem = 12px
  // @include breakpoint(md) { font-size: 0.8125rem; } // 1rem = 13px
  // @include breakpoint(lg) { font-size: 0.875rem;  } // 1rem = 14px
  height: 100%;
}

body {
  height: 100%;
}
